select{
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

form h2{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    color: black;
    text-align: center;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.alineamiento{
    display: inline-block;
}

.margen{
    margin-bottom: 13px;
}