*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #eceff8;
    padding-top: 100px; 
}

.inicio{
    background: #ff7e05;
    text-align: center;
}

.brand a{
    color: #fffaa3;
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}

h2{
    color: #8e3d60;
    font-family: 'Overlock', cursive;
    text-align: center;
    font-size: 25px;
}

.boton{
    font-family: 'Inconsolata', monospace;
    background: #e03551;
    color:#000; 
    height: 50px;
    padding: 10px 0px;
    text-align: center;
    width: 20%;
    text-decoration: none;
    float: left;
    margin-bottom: 20px;
}

.boton.buscar{
    background: #fff;
}

.boton_generico{
    border: none;
    outline: none;
    height: 40px;
    background: #ff7e05;
    font-size: 15px;
    border-radius: 20px;
    color: #000;
    width: 200px;
    margin-top: 10px;
}

.boton_generico:hover{
    background: #f18c07;
    cursor: pointer;
}

li a{
    text-decoration: none;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    font-size: 30px;   
}

.nav_button{
    background-color: #ff7e05;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 25px;
    color: black;
    vertical-align:middle;
    margin-top: 10px;
    margin-right: 3px;
}
.nav_button:hover{
    background-color: #e03551;
    color: #fffaa3;
    cursor: pointer;
}

.dropdown-item {
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

div button{
    background-color: #ff7e05;
    transition: 0.5s;
}
div button:hover{
    background-color: #e03551;
    cursor: pointer;
}
