div h2{
    font-size: 200px;
}

label{
    font-family: 'Bree Serif', serif;
}

.form-radio-item label{
    white-space: normal;
    display: block;
    left: 14px;
    top: -14px;
    position: relative;
}

.specs{
    color: pink; 
    background-color: red; 
    margin-top: 10px;
    border-radius: 10px;
}