.subtitulo_subir{
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    color: #8e3d60;
    font-family: 'Overlock', cursive;
    font-size: 35px;
    
}

form{
    width: 50%;
    margin: 10px 30px;
}

.cantidad{
    width:40px;
    height: 30px; 
    margin-top: 10px; 
}

.medida{
    width: 100px;
    height: 30px;
    margin-top: 10px; 
}

.ingr{
    width: 200px;
    height: 30px;
    margin-top: 10px; 
}

textarea {
    width: 100%;
    resize: none;
}

form p{
    margin-top: 10px;
    margin-bottom: 10px;
}


.div_boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}