.subtitulo_subir{
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    color: black; 
    font-family: 'Bree Serif', serif;
}

.cantidad{
    width:80px;
    height: 30px; 
}

.medida{
    width: 150px;
    height: 30px; 
}

.ingr{
    width: 300px;
}

.div_boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.nombre_receta{
    margin-left: 40px;
}

textarea{
    width: 100%;
    resize: none;
    padding: 10px;
}

input[type ="number"]{
    padding-left: 30px;
    height: 100%;
}

div#ingr_group input[type ="text"]{
    padding-left: 10px;
    height: 100%;
}

.autocompletar{
    position: relative;
    display: inline-block;
}

.name_list{
    background-color: white;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    z-index: 99;

    top: 100%;
    left: 36px;
    right: 0;
    width: 300px;
}

.name_list div{
    width: 298px;
    outline: none;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    float: left;
}

.name_list div:hover{
    background-color: #ff7e05;
}

.autocompletar_active{
    background-color: #ff7e05;
    color: #fff;
}

.autocompletar_active strong{
    color: #fffaa3;
}