.subtitulo_subir{
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    color: black; 
    font-family: 'Bree Serif', serif;
}

.cantidad{
    width:60px;
    height: 30px; 
}

.medida{
    width: 130px;
    height: 30px; 
}

.ingr{
    width: 300px;
    height: 30px;
}

.textarea_adjust {
    width: 100%;
    resize: none;
}

.div_boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.nombre_receta{
    margin: 10px;
}